<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Leaflet CSS -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"/>

  <title>Real-time Tracking</title>

  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    #map {
      height: 100vh;
      width: 100%;
    }
  </style>
</head>

<body>

  <div id="map"></div>

  <!-- Socket.IO -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Leaflet JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>

  <!-- Your Script -->
  <script src="/js/script.js"></script>

</body>
</html>
